<!doctype html>
<head>
    <meta charset="utf-8">
    <title>Team Lomdri</title>
    <link rel="stylesheet" href="stylesheets\style.css">
</head>
<body>
    <script src="javascripts\pixi.js\dist\pixi.min.js"></script>

    <script>

    // Create the renderer
    var renderer = PIXI.autoDetectRenderer(1, 1);

    // Add the canvas to the HTML document
    document.body.appendChild(renderer.view);

    // Making the Canvas fill the screen
    renderer.view.style.position = "absolute";
    renderer.view.style.display = "block";
    renderer.autoResize = true;
    renderer.resize(window.innerWidth, window.innerHeight);


    // Create a container object called the `stage`
    var stage = new PIXI.Container();
    // Tell the `renderer` to `render` the `stage`
    renderer.render(stage);

    </script>
</body>